<!--header id="footer"-->
<footer role="contentinfo" id="site-footer" style="background-color: #FFFFFF; width: auto">
	<nav role="navigation" class="menu bottom-menu">
		<ul class="menu-item">
		{% for link in site.data.footer %}
      {% if link.url contains 'http' %}
        {% assign domain = '' %}
        {% else %}
        {% assign domain = site.url %}
      {% endif %}
			<li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
		{% endfor %}
		</ul>
	</nav><!-- /.bottom-menu -->
  <a href="{{ site.url }}"><img src="{{ site.url }}/images/joyseed_logo_lockup_264x122.png" width=
  "132" height="61" style="margin-left: 0; margin-bottom: 0; border=0;"></a>
  <p><font background="#FFFFFF">&#169; {{ site.time | date: '%Y' }} <a href="{{ site.url }}"><font background="#FFFFFF">{{ site.title }}</a> &nbsp; ∙ &nbsp; 📞&nbsp; +86 (21) 1234-5678 &nbsp; ∙ &nbsp;  <a href="{{ site.url }}/contact/"><font background="#FFFFFF">Email Us</font></a>
  </font></p>
  <img src="images/kids-009.jpg" style="position: absolute;" top: 90% left: 80%  width="20%" height="20%">  
</footer>
<!--/header-->
